<%- include('../partials/header') %>



  <section>
     <div class="container">
      <% orders.forEach(function(m) { %>
        <h4> Hi someone from <%= m.city %> send a request  </h4>
        <p>"<%= m.message %>" </p>
        <a href="/orders/<%= m._id %>" class="btn">DETAILS</a>


        <% }); %>

     </div>

  </section>
  
<%- include('../partials/footer') %>