<%- include('../partials/header') %>



  <section>
     <div class="container ">
      <% orders.forEach(function(m) { %>
        <div class="card-panel #fafafa grey lighten-5">
        <span class="card-title"><i class="material-icons prefix  indigo-text">directions_run</i> Hi someone from <i class="material-icons prefix red-text">location_on
        </i> <%= m.city %> send a request  </span>
        <p>"<%= m.message %>" </p>
        <div class="card-action">
          <a href="/orders/<%= m._id %>" class="btn">DETAILS</a>
        </div>
        
      </div>

        <% }); %>

     </div>

  </section>
  
<%- include('../partials/footer') %>