<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>userName</th>
      <th>City</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(function(m) { %>
      <tr>
        <td><%= m.userName %></td>
        <td><%= m.city %></td>
        <td><%= m.message %> </td>
        <td><a href="/orders/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>