<%- include('../partials/header') %>


    <div class=" row" id="mainDiv">
      <div class="col s4">
        <div class="container">
        <div>
          <% if (user) { %>
            <h6>Hi, <%= user.name %>  </h6>
            <img src="<%= user.avatar %>" alt="avatar" class="circularImage">
          <% } %> 
        </div>
        
    <div id="introductionDiv">
       Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Vitae, alias odit incidunt delectus
         perspiciatis totam dolorum. Qui, asperiores fuga. Dolorum, officiis iste? Dolorem, cum corporis. Omnis quo ab sint neque.
    </div>
    <div>
      State:
    <%= order.state %>
  </div>
    <div>
      Zip Code
      <%= order.zipCode %> </div>
    </div>
    <br><br>
    <div class="card z-depth-5 ">
      <div class="card-content">

        <span class="card-title">Special Request</span> 
        <p> From <%= order.city %> <%= order.state %> <%= order.zipCode %></p>
      
         <%= order.message %>
        </p>
      </div>
      
      
      </div>
  
    
        
      </div>
      
     

   <div class="col s4">
    <% if (user) { %>
    <form method="POST" action="/orders/<%=order._id%>/newItem">
      <label>Item Name:</label>
      <input type="text" name="name">
      <label>Amount:</label>
      <select name="amount">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="Add" class="btn">
      <a href="/orders/" class="btn">Submit</a>
    </form>
      <% } else { %>
        <p>Are you reading to help?</p>
        <a href="/orders/" class="btn"> Accept Request </a>
        <% } %>
      </div>
 

      
      <div class="col s4">
        <% if(order.items.length) { %>
          <table id="list" class="container">
            <thead>
              <tr>
                <th> item Name</th>
                <th>Amount</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% order.items.forEach(function(m) { %>
                <tr>
                  <td><%= m.name %></td>
                  <td><%= m.amount %></td>

                  <td>
                    <% if (user && user._id.equals(m.user)) { %>
                      <form action="/newItem/<%= m._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="deleteBtn red-text"><i class="material-icons">delete</i></button>
                        
                      </form>
                    <% } %>
                  </td>
                </tr>
                <% }); %>
                
              </tbody>
            </table>
        <% } else { %>
        <h4>Please enter a New item</h4>
        <% } %>
      </div>
   
      </div>
<%- include('../partials/footer') %>
