<%- include('../partials/header') %>



    <div class=" row">
      <div class="col s4">
    <div> UserName: 
      <%= order.userName %>
    </div>
    <div>
        State:
      <%= order.state %>
    </div>
    <div>
        City:
      <%= order.city %>
    </div>
  
    <div>
        Message:
        <%= order.message %> </div>
  
    <div>
        Zip Code
        <%= order.zipCode %> </div>
        <img src="<%= order.userAvatar %>" alt="avatar">

      </div>
      
      

   <div class="col s4">
    <% if (user) { %>
      <h6>Hi, <%= user.name %>  </h6>
      <img src="<%= user.avatar %>" alt="avatar">
    <form method="POST" action="/orders/<%=order._id%>/newItem">
      <label>Item Name:</label>
      <input type="text" name="name">
      <label>Amount:</label>
      <select name="amount">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="Add" class="btn">
  
      <% } else { %>
        <p>Are you reading to help?</p>
        <a href="#" class="btn"> Accept Request </a>
        <% } %>
      </div>

      <div class="col s4">
        <% if(order.items.length) { %>
          <table id="list" class="container">
            <thead>
              <tr>
                <th> item Name</th>
                <th>Amount</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% order.items.forEach(function(m) { %>
                <tr>
                  <td><%= m.name %></td>
                  <td><%= m.amount %></td>

                  <td>
                    <% if (user && user._id.equals(m.user)) { %>
                      <form action="/newItem/<%= m._id %>?_method=DELETE" method="POST">
                
                        <button type="submit"><a href=""><i class="material-icons">delete</i></a></button>
                      </form>
                    <% } %>
                  </td>
                </tr>
                <% }); %>
                
              </tbody>
            </table>
        <% } else { %>
        <h4>Please enter a New item</h4>
        <% } %>
      </div>

      </div>
<%- include('../partials/footer') %>
